{% load staticfiles %}
<!DOCTYPE html>
<head>
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<link rel="stylesheet" href="{% static 'css_1/bootstrap.min.css' %}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="{% static 'css_1/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css_1/style-responsive.css' %}" rel="stylesheet"/>
<!-- font CSS -->

<link rel="stylesheet" href="{% static 'css_1/font.css' %}" type="text/css"/>
<link href="{% static 'css_1/font-awesome.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css_1/morris.css' %}" type="text/css"/>
<!-- calendar -->
<link rel="stylesheet" href="{% static 'css_1/monthly.css' %}">


<!-- //calendar -->
<!-- //font-awesome icons -->
<script src="{% static 'js_1/jquery2.0.3.min.js' %}"></script>
<script src="{% static 'js_1/raphael-min.js' %}"></script>
<script src="{% static 'js_1/morris.js' %}"></script>

<link rel="stylesheet" href="{% static 'datatable/jquery.dataTables.min.css' %}">
<script type="text/javascript" src="{% static 'datatable/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'datatable/bootstable.min.js' %}"></script>
<script type="text/javascript">
    
    $(document).ready(function(){

        $('#table').DataTable();
    })
</script>
<style type="text/css">
    
    input[type="button"]
    {
        background-color: #ddede0;
    }
</style>
</head>
<body>
<section id="container">
<!--header start-->
{% include 'admin_header.html' %}
<!--header end-->
<!--sidebar start-->
{% include 'admin_side_bar.html' %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      User Detail
    </div>
    <!-- <div class="row w3-res-tb">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">Bulk action</option>
          <option value="1">Delete selected</option>
          <option value="2">Bulk edit</option>
          <option value="3">Export</option>
        </select>
        <button class="btn btn-sm btn-default">Apply</button>                
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div> -->
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" id="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Dob</th>
            <th>Username</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            
            
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>

            {% for i in view %}


              <tr>

                <td id="id">{{i.reg_id}}</td>
                <td data-search="{{i.name}}" data-filer="{{i.name}}"><input type="text" name="name" id="name" value="{{i.name}}"></td>

                  <td data-search="{{i.email}}" data-filer="{{i.email}}"><input type="text" name="email" id="email" value="{{i.email}}"></td>

                <td data-search="{{i.dob}}" data-filer="{{i.dob}}"><input type="text" name="dob" id="dob" value="{{i.dob}}"></td>

                <td data-search="{{i.username}}" data-filer="{{i.username}}"><input type="text" name="username" id="username" value="{{i.username}}"></td>

                <td data-search="{{i.password}}" data-filer="{{i.password}}"><input type="text" name="password" id="password" value="{{i.password}}"></td>

                <td data-search="{{i.gender}}" data-filer="{{i.gender}}"><input type="text" name="gender" id="gender" value="{{i.gender}}"></td>

                <td data-search="{{i.phone}}" data-filer="{{i.phone}}"><input type="text" name="phone" id="phone" value="{{i.phone}}"></td>

                <td data-search="{{i.address}}" data-filer="{{i.address}}"><input type="text" name="address" id="address" value="{{i.address}}"></td>
               
                <th><input type="button" name="Delete" class="delete" value="DELETE"></th>

                 <th><input type="button" name="edit" class="edit" value="EDIT"></th>
                
              </tr>

            {% endfor %}
         
         
         
          
          
          
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        
        <div class="col-sm-5 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-7 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
</section>
 <!-- footer -->
     {% include 'admin_footer.html' %}
  <!-- / footer -->
</section>

<!--main content end-->
</section>

<script src="{% static 'js_1/bootstrap.js' %}"></script>
<script src="{% static 'js_1/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'js_1/scripts.js' %}"></script>
<script src="{% static 'js_1/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js_1/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js_1/jquery.scrollTo.js' %}"></script>

<script type="text/javascript">
    

    
           $(document).ready(function()
           {
                
                $('.delete').click(function()
                {
                    var row=$(this).closest("tr");
                    var id=row.find('#id').html();
                    // alert("approve")
                    // alert(id)
                    
                    $.ajax({
                        url:'/admin_delete_user/',
                        datatype:"json",
                        data:{'id':id},
                        success: function(data)
                        {
                            alert(data);
                            window.location.replace("admin_view_user");
                        }
                    })
                })


                 $('.edit').click(function()
                {
                    var row=$(this).closest("tr");
                    var id=row.find('#id').html();
                    var name=row.find('#name').val();
                    var email=row.find('#email').val();
                    var dob=row.find('#dob').val();
                    var username=row.find('#username').val();
                    var password=row.find('#password').val();
                    var gender=row.find('#gender').val();
                    var phone=row.find('#phone').val();
                    var address=row.find('#address').val();
                    
                    
                    $.ajax({
                        url:'/admin_edit_user/',
                        datatype:"json",
                        data:{'id':id,'name':name,'email':email,'dob':dob,'username':username,'password':password,'gender':gender,'phone':phone,'address':address},
                        success: function(data)
                        {
                            alert(data);
                            window.location.replace("admin_view_user");
                        }
                    })
                })

               

            })
  
</script>

</body>
</html>
